[defaults]
# points to the inventory file that contains the list of hosts and groups to manage.
inventory = ./secrets/inventory.yml
roles_path = ./roles

# Use the SSH key I will create tomorrow
private_key_file = ~/.ssh/id_ed25519

# Disable host key checking to avoid prompts when connecting to new hosts.
host_key_checking = False

# Use the yaml callback plugin to display output in a more readable format.
stdout_callback = yaml

# Automatically detect the Python interpreter on the remote host without printing warnings.
interpreter_python = Automatically

[ssh_connection]
# Speeds up ansible by reusing the SSH connection.
pipelining = True