[defaults]
# points to the inventory file that contains the list of hosts and groups to manage.
inventory = ./secrets/inventory.yml
roles_path = ./roles

# My server user name
remote_user = deb13 

# Disable host key checking to avoid prompts when connecting to new hosts.
# host_key_checking = False

# Use the yaml callback plugin to display output in a more readable format.
# stdout_callback = ansible.builtin.default

# Automatically detect the Python interpreter on the remote host without printing warnings.
# interpreter_python = Automatically

[ssh_connection]
# Speeds up ansible by reusing the SSH connection.
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = true